server {
    listen {{ http_port }} default_server;
    listen [::]:{{ http_port }} default_server;
    server_name {{ http_server_name }};

    location = favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root /opt/{{ app_name}};
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/opt/{{ app_name }}/uwsgi.sock;
        uwsgi_read_timeout 30s;
        uwsgi_send_timeout 30s;
    }
}
