
module nginx-uwsgi-sock 1.0;

require {
	type httpd_t;
	type usr_t;
	class sock_file write;
}

#============= httpd_t ==============

#!!!! WARNING: 'usr_t' is a base type.
allow httpd_t usr_t:sock_file write;
